:root {
  --dl-color-gray-500: rgba(102, 112, 132, 1);
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
/* .button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
/* . {
  font-size: 14px;
  font-style: normal;
  font-family: Be Vietnam Pro;
  font-weight: 700px;
  font-stretch: normal;
} */
/* .TextmdSemibold {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.coastal-container {
  min-height: 100vh;
}
.coastal-coastal {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.coastal-dropdownheadernavigation {
  width: 1280px;
  height: 80px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.029999999329447746) ;
  align-items: center;
  border-color: rgba(242, 243, 246, 1);
  border-style: solid;
  /* border-width: Symbol(figma.mixed)px; */
  /* margin-bottom: 31px;
  background-color: rgba(255, 255, 255, 1);
}
.coastal-header {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.coastal-container1 {
  display: flex;
  padding: 0 101px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.coastal-content {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.coastal-loadingimage {
  width: 85px;
  height: 26px;
  position: relative;
  border-color: transparent;
  margin-right: 40px;
}
.coastal-navigation {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.coastal-button {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 32px;
}
.coastal-frame-buttonbase {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.coastal-text {
  color: var(--dl-color-primary-500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.coastal-frame-dropdownheadernavigationtrigger {
  display: flex;
  padding: 4px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 32px;
  flex-direction: column;
}
.coastal-button1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.coastal-frame-buttonbase1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.coastal-text02 {
  color: var(--dl-color-primary-500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 8px;
  margin-bottom: 0;
}
.coastal-chevrondown {
  width: 20px;
  height: 20px;
  position: relative;
}
.coastal-frame-dropdownheadernavigationtrigger1 {
  display: flex;
  padding: 4px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 32px;
  flex-direction: column;
}
.coastal-button2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.coastal-frame-buttonbase2 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.coastal-text04 {
  color: var(--dl-color-primary-500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 8px;
  margin-bottom: 0;
}
.coastal-chevrondown1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.coastal-button3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.coastal-frame-buttonbase3 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.coastal-text06 {
  color: var(--dl-color-primary-500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.coastal-frame18 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.coastal-frame27 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 28px;
  justify-content: center;
}
.coastal-bxuser {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 12px;
}
.coastal-frame-buttonbase4 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.coastal-text08 {
  color: var(--dl-color-primary-500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.coastal-frame28 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.coastal-akariconsshoppingbag {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 12px;
}
.coastal-group {
  top: 2px;
  left: 3.1675896644592285px;
  width: 17.66482162475586px;
  height: 20px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.coastal-vector {
  top: 6px;
  left: 0px;
  width: 18px;
  height: 14px;
  position: absolute;
}
.coastal-vector1 {
  top: 0px;
  left: 4.8324103355407715px;
  width: 8px;
  height: 9px;
  position: absolute;
}
.coastal-frame-buttonbase5 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.coastal-text10 {
  color: var(--dl-color-primary-500);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 0;
  margin-bottom: 0;
}
.coastal-frame292 {
  height: 62px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 31px;
  flex-direction: column;
}
.coastal-text12 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame19 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 31px;
  justify-content: center;
}
.coastal-frame191 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 9px;
}
.coastal-link {
  display: contents;
}
.coastal-frame10 {
  display: flex;
  padding: 14px 20px;
  position: relative;
  align-items: center;
  border-color: rgba(61, 190, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(61, 190, 173, 1);
}
.coastal-ggwebsite {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 13px;
}
.coastal-group1 {
  top: 3px;
  left: 1px;
  width: 22px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.coastal-vector2 {
  top: 4px;
  left: 12px;
  width: 6px;
  height: 10px;
  position: absolute;
}
.coastal-vector3 {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 10px;
  position: absolute;
}
.coastal-vector4 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 18px;
  position: absolute;
}
.coastal-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame192 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 9px;
}
.coastal-link1 {
  display: contents;
}
.coastal-frame107 {
  display: flex;
  padding: 14px 19px;
  position: relative;
  align-items: center;
  border-color: rgba(61, 190, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.coastal-materialsymbolscontactphoneoutline {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 13px;
}
.coastal-text16 {
  color: rgba(61, 190, 173, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame20 {
  width: 325px;
  height: 58px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 9px;
}
.coastal-group17 {
  width: 325px;
  height: 58px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.coastal-link2 {
  display: contents;
}
.coastal-frame106 {
  top: 0px;
  left: 0px;
  width: 325px;
  height: 58px;
  display: flex;
  padding: 14px 20px;
  position: absolute;
  align-items: center;
  border-color: rgba(61, 190, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
.coastal-materialsymbolsperson4 {
  top: 17px;
  left: 20px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.coastal-text18 {
  top: 14px;
  left: 7px;
  color: rgba(61, 190, 173, 1);
  width: 338px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame21 {
  width: 259px;
  height: 58px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.coastal-group18 {
  width: 259px;
  height: 58px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.coastal-link3 {
  display: contents;
}
.coastal-frame108 {
  top: 0px;
  left: 0px;
  width: 259px;
  height: 58px;
  display: flex;
  padding: 14px 20px;
  position: absolute;
  align-items: center;
  border-color: rgba(61, 190, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
.coastal-mdismileysadoutline {
  top: 17px;
  left: 20px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.coastal-text20 {
  top: 14px;
  left: 51px;
  color: rgba(61, 190, 173, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame311 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 31px;
  justify-content: center;
}
.coastal-text22 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame211 {
  height: 1275px;
  display: flex;
  padding: 0 50px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.coastal-frame300 {
  width: 1053px;
  height: 1275px;
  display: flex;
  padding: 0 46px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.coastal-rectangle31 {
  top: 10px;
  left: 87px;
  width: 6px;
  height: 1106px;
  position: absolute;
  border-color: transparent;
}
.coastal-frame295 {
  top: 0px;
  left: 53px;
  width: 911px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.coastal-frame212 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 20px;
  flex-direction: column;
}
.coastal-frame294 {
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 33px;
  flex-direction: column;
  background-color: rgba(245, 248, 248, 1);
}  */ 









/* .coastal-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame297 {
  width: 828px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.coastal-text26 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.coastal-text28 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.coastal-text29 {
  color: rgba(102, 112, 133, 1);
  text-decoration: NONE;
}
.coastal-text30 {
  text-decoration: UNDERLINE;
}
.coastal-text31 {
  color: rgba(61, 190, 173, 1);
}
.coastal-text32 {
  color: rgba(102, 112, 133, 1);
}
.coastal-text33 {
  text-decoration: NONE;
}
.coastal-frame298 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.coastal-link4 {
  display: contents;
}
.coastal-frame101 {
  width: 188px;
  display: flex;
  padding: 14px 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 15px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(61, 190, 173, 1);
}
.coastal-text35 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-link5 {
  display: contents;
}
.coastal-frame11 {
  width: 188px;
  display: flex;
  padding: 14px 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(61, 190, 173, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
}
.coastal-text37 {
  color: rgba(61, 190, 173, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame2971 {
  top: 272px;
  left: 46px;
  width: 918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.coastal-frame2941 {
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 33px;
  flex-direction: column;
  background-color: rgba(245, 248, 248, 1);
}
.coastal-text39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame2972 {
  width: 829px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.coastal-text41 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.coastal-text43 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame2981 {
  top: 471px;
  left: 46px;
  width: 938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.coastal-frame2942 {
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 33px;
  flex-direction: column;
  background-color: rgba(245, 248, 248, 1);
}
.coastal-text45 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame2973 {
  width: 849px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.coastal-text47 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.coastal-text48 {
  font-weight: 700;
}
.coastal-text50 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame299 {
  top: 669px;
  left: 46px;
  width: 918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
} */
/* .coastal-frame2943 {
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 33px;
  flex-direction: column;
  background-color: rgba(245, 248, 248, 1);
}
.coastal-text52 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame2974 {
  width: 828px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.coastal-text54 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.coastal-text56 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame3001 {
  top: 867px;
  left: 46px;
  width: 918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.coastal-frame2944 {
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 33px;
  flex-direction: column;
  background-color: rgba(245, 248, 248, 1);
}
.coastal-text58 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame2975 {
  width: 829px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.coastal-text60 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.coastal-text62 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame301 {
  top: 1065px;
  left: 46px;
  width: 918px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.coastal-frame2945 {
  display: flex;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 20px;
  border-radius: 33px;
  flex-direction: column;
  background-color: rgba(245, 248, 248, 1);
} */
/* .coastal-text64 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.coastal-frame2976 {
  width: 645px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.coastal-text66 {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.coastal-text68 {
  color: rgba(102, 112, 133, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}



@media only screen and (max-width: 630px) {
  .order-spaan {
    font-size: 30px;
  }
  
} */